*{
	padding: 0;
	margin: 0;
	font-family: sans-serif, sans-serif;
	box-sizing: border-box;

}

.hero{
	height: 100vh;
	width: 100%;
    background-image: url("me.jpg");
    background-size: cover;
    background-position:unset;
}
 nav{
 	display: flex;
 	align-items: center;
 	justify-content: space-between;
 	padding-top: 45px;
 	padding-left: 8%;
 	padding-right: 8%;
 }
 .logo{
 	color:black;
 	font-size: 35px;
 	letter-spacing: 1px;
 	cursor: pointer;
 }
 span{
 	color: orange;
 }
 nav ul li {
 	color: gray;
 	display: inline-block;
 	padding: 10px 15px;
 	


 }
 nav ul li a{
 	color: white;
 	text-decoration: none;
 	font-weight: bold;
 	text-transform: capitalize;
 }
 nav ul li a:hover{
color:#f9004d ;
transition: .4s;
 }
 .content{
 	position: absolute;
 	top:50%;
 	left: 8%;
 	transform: translateY(-50);
 }
 h1{
 	color: deepskyblue;
 	margin: 20px, 0px, 20px;
 	font-size: 70px;
 }
 h3{
 	color: lightblack;
 	font-size: 25px;
 	margin-bottom: 50px;
 }
 h4{
 	color: #fffff;
 	letter-spacing: 2px;
 	font-size: 20px;

 }
 .newslatter form{
 	width: 380px;
 	max-width: 100%;
 	position: relative;

 }
 .newslatter form input:first-child{
 	display: inline-block;
 	width: 100%;
 	padding: 14px 130px 14px 15px;
 	border: 1px solid #f9004d;
 	outline: none;
 	border-radius: 25px;
 }
 .newslatter form input:last-child{
 	position: absolute;
 	display: inline-block;
 	outline: none;
 	border:none;
 	padding:10px 15px;
 	background-color: #f9004d ;
 	color: white;
 	border-radius: 20px;
 	box-shadow: 0px,0px,5px #000, 0px	0px 15px #858585;
 	top: 6px;
 	right: 6px;
 }
 .about{
 	width: 100%;
 	padding:100px 0px;
 	background-color: #191919;
 }
 .about img{
 	height: auto;
 	width: 430px;
 }
 .about-text{
 	width: 550px;
 }
 .main{
 	width: 1130px;
 	max-width: 95%;
 	margin: 0 auto;
 	display: flex;
 	align-items: center;
 	justify-content: space-around;
 }
 .about-text h2{
 	color: white;
 	font-size: 75px;
 	text-transform: capitalize;
 	margin-bottom: 20px;
 }
 .about-text h5{
 	color: white;
 	letter-spacing: 2px;
 	font-size: 22px;
 	margin-bottom:25px;
 	text-transform: capitalize;
 }
 .about-text p{
 	color: #fcfc;
 	letter-spacing: 1px;

 }
 button{
 	background-color: #f9004d;
 	color: white;	
 	text-decoration: none;
 	border: 2px solid transparent;
 	font-weight: bold;
 	padding: 13px 30px;
 	border-radius: 30px;
 	transition: .4s;
 }
 button:hover{
 	background-color: transparent;
 	border: 2px solid #f9004d;
 	cursor: pointer;
 }

 footer{
 	position: relative;
 	width: 100%;
 	height: 200px;
 	background: #101010;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 }
 footer p:nth-child(1){
 	font-size: 30px;
 	color: white;
 	margin-bottom: 20px;
 	font-weight: bold;
 }
  footer p:nth-child(2){
  	color: white;
  	font-size: 17px;
  	width: 500px;
  	text-align: center;
  	line-height: 26px;
  }
  .social{
  	display: flex;
  }
  .social a{
  	width: 45px;
  	height: 45px;	
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	background: #f9004d;
  	border-radius: 50%;
  	margin:22px 10px;
  	color: white;
  	text-decoration: none;
  	font-size: 20px;
  }
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	font-size: 	5px;
}
p .end{
	position: absolute;
	color: #f9004d;
	bottom:15px;
	font-size:10%;
}